.carousel-item {
            height: 32rem;
            background-color: white;
            color: rgb(203, 27, 27);
            position: relative;
        }
        .carousel-container {
            margin-bottom: 4rem;
        }
        .marketing .col-lg-4 {
            margin-bottom: 1.5rem;
            text-align: center;
        }
        .featurette-divider {
            margin: 5rem 0;
        }
        .placeholder-img {
            background-color: #eee;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #aaa;
            font-size: 2rem;
        }
        .carousel-item {
    height: 100vh;
}

.carousel-item-img {
    height: 100%;
    object-fit: cover;
}




.contact-section {
    color: rgb(17, 16, 16);
    padding: 80px 0;
    font-family: 'serif';
}

.contact-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.red-line {
    width: 100%;
    height: 3px;
    background-color: #4d4949; /* Red line below title */
    margin-bottom: 50px;
}

.contact-info h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.contact-form input, .contact-form textarea {
    background: transparent;
    border: 1px solid #080808;
    color: rgb(9, 8, 8);
    border-radius: 0;
    margin-bottom: 20px;
}

.contact-form label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.send-btn {
    background-color: transparent;
    border: 1px solid #3708f7;
    color: #3708f7;
    width: 100%;
    padding: 10px;
    font-weight: bold;
    transition: 0.3s;
}

.send-btn:hover {
    color: rgb(30, 18, 18);
}

.contact-details i {
    margin-right: 10px;
}